@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #eeeeee 0% 0% no-repeat padding-box;
  height: 100vh;
}
.main-container {
  display: block;
  width: 100%;
  min-height: calc(100vh - 56px - 56px - 18px);
  padding: 24px;
}

/* Header of the page------------------- */
.header {
  background: url("images/header\ pattern\ image.png"),
    url("images/header\ pattern\ svg.svg");
}
.header nav {
  background: rgb(37, 49, 63, 0.8);
  width: 100%;
  height: 56px;
  top: 0;
  border-bottom: 2px solid #31b9e4;
  /* position: fixed; */
}
.header-logo {
  margin-top: 10.5px;
  margin-left: 29px;
  cursor: pointer;
}

/* Login Box------------------------- */
.login-box {
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 488px;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-top: 4px solid #3ac7ec;
}

/* Login Box Title -------------------- */
.login-box .login-title{
  position: relative;
  margin-top: 16px;
}
.login-title .title{
  text-align: center;
  font-size: 24px;
}
.login-title .backbtn{
  left: 32px;
  top: 4px;
  position: absolute;
  cursor: pointer;
}

/* Login form ---------------------------- */
.login-box form {
  padding: 0 32px;
  box-sizing: border-box;
}

/* Radio Button ----------------------------- */
.radio-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin: 32px 32px 23px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  float: left;
}
/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px solid #1F7A54;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
  background-color: white;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
 	top: 2px;
	left: 2px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #1F7A54;
}

/* Dropdown Menu for State and Distric------------- */

.select-state {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 26px;
  position: relative;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}

.select-district {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 37px;
  position: relative;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}

.select label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #666666;
}

select {
  border: none;
  border-bottom: 1px solid #cfc7c7;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  color: #222222;
  font-weight: bold;
}

.select select {
  appearance: none;
  background-image: url(icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right;
}

/* Username and .password-------------------------- */
form .txt_field {
  position: relative;
  border-bottom: 1px solid #d0c8c8;
}
form .username {
  margin: 40px 0 0 0;
}
form .password {
  margin: 18px 0 0 0;
}

.txt_field input {
  width: 424px;
  padding: 0 0 5px 0;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  /* top: 50%; */
  padding-bottom: 20px;
  color: #666666;
  font-size: 16px;
  font-weight: bold;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #1f7a54;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #1f7a54;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

/* Forgot button------------------ */
.forgot {
  font-size: 14px;
  margin-top: 5px;
  text-align: right;
  color: #1f7a54;
  cursor: pointer;
  font-weight: bold;
}
.forgot:hover {
  text-decoration: underline;
}

/* Remember Me checkbox------------------------- */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 23px;
  margin: 24px 0 18px 0;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  font-weight: bold;
  color: #222222;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 18px;
  border-radius: 2px;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #1F7A54;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Log in button--------------------------- */
button {
  display: block;
  margin: 34px auto 24px auto;
  background-color: #3fd28b;
  height: 40px;
  width: 44%;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 3px 5px #0000003d;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  cursor: pointer;
}


/* About and Contact------------------------ */
.about-contact-div {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: 18px;
  color: #1f7a54;
  font-size: 14px;
  gap: 16px;
  margin-bottom: 16px;
}
.about-contact {
  font-weight: bold;
  cursor: pointer;
}

.devider {
  color: #666666;
}


/* Footer --------------------- */

.footer {
  background-color: #e0e1e1;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  bottom: 0;
  color: #616161;
}
.footer div {
  font-size: 12px;
  gap: 15px;
}
.zeus {
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .main-container{
    width: 100%;
  }
  .header {
    width: 100%;
  }
  .login-box{
    width: 100%;
  }
}

