@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


.header {
  background: url("images/header\ pattern\ image.png"),
    url("images/header\ pattern\ svg.svg");
}
nav {
  background: rgb(37, 49, 63, 0.8);
  height: 56px;
  width: 100%;
}

.nav-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.nav-container .header-logo {
  height: 100%;
  width: 55%;
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.nav-container .max-nav {
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.nav-container .max-nav a {
  color: #3fd28b;
  font-size: 14px;
}
.nav-container .max-nav a.active {
  color: white;
  border-bottom: 4px solid white;
  margin-top: auto;
  height: 65%;
}
.nav-container .max-nav a:hover {
  margin-top: auto;
  height: 65%;
  color: white;
  border-bottom: 4px solid white;
  transition: 0.1s;
}

.nav-container .min-nav {
  height: 100%;
  width: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-container .min-nav .hamburger {
  display: none;
  position: relative;
  height: 100%;
}
.hamburger img{
  margin: 16px 0; 
}



/* ----------------------HOVER MENU---------------------------- */

.hover-menu{
  position: absolute;
  display: none;
  right: 0;
  top: 56px;
  width: 280px;
  background-color: #FFFFFF;
  line-height: 48px;
  box-shadow: 0px 13px 20px #0000003D;
  font-size: 14px;
  color: #1F7A54;
  text-transform: uppercase;
  z-index: 1;
}
.hover-menu div{
  padding-left: 16px;
}
.hover-menu div a{
  color: #1F7A54;
}
.hover-menu div:hover{
  background-color: #F3F3F3;
}
.content ul{
  display: none;
}
.content ul li{
  margin-left: 32px;
}
.content:hover ul{
  display: block;
}
.hamburger:hover .hover-menu{
  display: block;
}
.hover-menu:hover{
  display: block;
}



/* ------------------------------------------------ */
@media (max-width: 1440px) {
  .nav-container .header-logo {
    width: 40%;
  }
  .nav-container .max-nav {
    width: 45%;
  }
  .nav-container .min-nav{
    width: 15%;
  }
}

@media (max-width: 780px) {
  .nav-container .max-nav {
    display: none;
  }

  .nav-container .header-logo {
    width: 70%;
  }
  .nav-container .min-nav {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .nav-container .min-nav .hamburger {
    display: block;
  }
}

@media (max-width: 540px) {
  .nav-container .max-nav {
    display: none;
  }

  .nav-container .header-logo {
    width: 50%;
  }
  .nav-container .min-nav {
    width: 50%;
  }
}




